<div id="error-form" style="display: none;">
  <p class="alert alert-danger alert-dismissible">Existe un error con su rango de fechas o están vacías</p>
</div>
<div id="error-uf" style="display: none;">
  <p class="alert alert-danger alert-dismissible">Ocurrió un error con la consulta de los valores de la UF para el rango seleccionado. Por favor, inténtelo nuevamente</p>
</div>
<div id="error-dolar" style="display: none;">
  <p class="alert alert-danger alert-dismissible">Ocurrió un error con la consulta de los valores del dolar para el rango seleccionado. Por favor, inténtelo nuevamente</p>
</div>
<div id="error-tmc" style="display: none;">
  <p class="alert alert-danger alert-dismissible">Ocurrió un error con la consulta de los valores de la TMC para el rango seleccionado. Por favor, inténtelo nuevamente</p>
</div>
<%=link_to "Realizar otra consulta", {controller:"indicators",action:"index"}, {:style=>'display:none;', :class => "btn btn-primary pull-right", id:"button-search"} %>
<div class="row" id="loader" style="display: none;">
  <%= image_tag "ajax-loader.gif", id:"logo" %>
</div>
<div class="row" id="content-form">
  <label for="file">Ingrese el rango de fechas de los datos que desea consultar</label>
  <%= form_tag({controller: "indicators", action: "show"}, remote: true, id:"eventForm") do%>
    <div class="col-xs-6">
      <div class="form-group">
        <div class='input-group date'>
          <input type="text" name="dateini" class="form-control" placeholder="Fecha Inicio" id="dateini" required/>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="form-group">
        <div class='input-group date'>
          <input type="text" name="datefin" class="form-control" placeholder="Fecha Fin" id="datefin" required/>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-xs-offset-3">
      <button type="button" class="btn btn-default btn-block" id="submit-button">Enviar</button>
    </div>
  <%end%>
</div>
<div id="indicators">
  <div class="row" id="graph-uf" style="display: none;">
    <strong><h3>Valores en Pesos de la UF</h3></strong>
  </div>
  <div class="row" id="content-indicators-uf" style="display: none;">
    <label><strong>Máximo valor: </strong></label><p id="max-uf"></p>
    <label><strong>Mínimo valor: </strong></label><p id="min-uf"></p>
    <label><strong>Promedio de valores: </strong></label><p id="prom-uf"></p>
    <table class="table table-bordered table-striped" id="table-uf">
      <thead>
          <tr>
              <th>#</th>
              <th>Fecha</th>
              <th>Valor (CLP)</th>
          </tr>
      </thead>
      <tbody>
        
      </tbody>
    </table>
  </div>
  <br/>
  <div class="row" id="graph-dolar" style="display: none;">
    <strong><h3>Valores en Pesos del Dolar</h3></strong>
  </div>
  <div class="row" id="content-indicators-dolar" style="display: none;">
    <label><strong>Máximo valor: </strong></label><p id="max-do"></p>
    <label><strong>Mínimo valor: </strong></label><p id="min-do"></p>
    <label><strong>Promedio de valores: </strong></label><p id="prom-do"></p>
    <table class="table table-bordered table-striped" id="table-dolar">
      <thead>
          <tr>
              <th>#</th>
              <th>Fecha</th>
              <th>Valor (CLP)</th>
          </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <br/>
  <div class="row" id="graph-tmc" style="display: none;">
    <strong><h3>Valores en Pesos del TMC</h3></strong>
  </div>
  <div class="row" id="content-indicators-tmc" style="display: none;">
  </div>
</div>
<script type="text/javascript">
  $(function () {
    //validations of dates
   $("#submit-button").click(function() {
      $("#error-form").hide();
      if ( ( $("#dateini").val()== null ) || ($("#datefin").val() == null ) || ( $("#datefin").val() < $("#dateini").val() ) || ( $("#dateini").val()== "" ) || ( $("#datefin").val()== "" ) ) {
        $("#error-form").show();
      }else{
        $('#eventForm').submit();
        $("#content-form").hide(); 
        $("#loader").show();
      }
    });
    $("#dateini").datepicker({
      dateFormat: 'dd/mm/yy' 
    });
    $("#datefin").datepicker({
      dateFormat: 'dd/mm/yy' 
    });
  });
</script>