function build_indicator_table(table_id, content) {
    // assign datatable properties to table and append the content
    $('#'+table_id+' tbody').append(content);
    $('#'+table_id).DataTable({
        "language": {
                "lengthMenu": "Se muestran _MENU_ registros por página",
                "zeroRecords": "No se encontraron resultados para este período",
                "info": "_PAGE_ de _PAGES_",
                "infoEmpty": "No se encontraron resultados para este período",
                "infoFiltered": "(Filtrado de _MAX_ registros)",
                "search": "Buscar:"
            },
        "info": false
    });
}

var content='';

//show content or error of UF data
<% if @pesos_uf == -1 %>
    $("#error-uf").show();
<%else%>
    //show max, min and prom values
    $("#max-uf").append(' <%= @uf_max %>$');
    $("#min-uf").append(' <%= @uf_min %>$');
    $("#prom-uf").append(' <%= @uf_prom %>$');
    //build UF table 
    <% @pesos_uf.each_with_index do |uf, i| %>
        content += '<tr><td><%= (i+1).to_s %></td><td><%= uf["Fecha"] %></td><td><%= uf["Valor"] %>$</td></tr>'
    <%end%>
    build_indicator_table("table-uf", content)
    //show the table div of UF
    $("#content-indicators-uf").show();
    //if exists data to graph, call to partial view to render the graph
    <% if @pesos_graph %>
        $("#graph-uf").append('<%= escape_javascript(render(partial: "graph_pesos_uf")) %>');
        $("#graph-uf").show();
    <%end%>
    $("#indicators").show();
<%end%>

//show content or error of dolar data
<% if @dolar == -1 %>
    $("#error-dolar").show();
<%else%>
    //show max, min and prom values
    $("#max-do").append(' <%= @dolar_max %>$');
    $("#min-do").append(' <%= @dolar_min %>$');
    $("#prom-do").append(' <%= @dolar_prom %>$');
    //build dolar table 
    content = '';
    <% @dolar.each_with_index do |dolar, i| %>
        content += '<tr><td><%= (i+1).to_s %></td><td><%= dolar["Fecha"] %></td><td><%= dolar["Valor"] %>$</td></tr>'
    <%end%>
    build_indicator_table("table-dolar", content)
    //show the table div of dolar
    $("#content-indicators-dolar").show();
    //if exists data to graph, call to partial view to render the graph
    <% if @dolar_graph %>
        $("#graph-dolar").append('<%= escape_javascript(render(partial: "graph_dolar")) %>');
        $("#graph-dolar").show();
    <%end%>
    $("#indicators").show();
<%end%>

//show content or error of TMC data
<% if @tmc == -1 %>
    $("#error-tmc").show();
<%else%>
    <% if @tmc_series %>
        //if exists TMC data build the table
        content = '<table class="table table-bordered tmc-table" id="table-tmc"><thead><tr><th>Fecha</th><th>Valor (CLP)</th><tr></thead><tbody>';
        <% @tmc_series.each do |tmc| %>
            content+='<tr><td colspan="12" class="active"><strong><%= tmc[:name]%></strong></td></tr>'
            <% tmc[:graph].each do |key, value| %>
                content += '<tr><td><%= key %></td><td><%= value %>$</td></tr>'
            <%end%>
        <%end%>
        content+="</tbody></table>"
        $("#content-indicators-tmc").append(content);
        //show the table div of tmc
        $("#content-indicators-tmc").show();
        //call to partial view to render the series graph
        $("#graph-tmc").append('<%= escape_javascript(render(partial: "graph_tmc")) %>');
        $("#graph-tmc").show();
        $("#indicators").show();
    <%end%>
<%end%>

$("#loader").hide();
$("#button-search").show()
