<!DOCTYPE html>
<html>
	<head>
		<title>Datos Financieros</title>
		<%= csrf_meta_tags %>

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>
	 <body>
	 	<div id="message-success">
			<% if flash[:message] %>
				<p class="alert alert-success alert-dismissible"><%= flash[:message] %></p>
			<% end %>
		</div>
		<div id="message-error">
			<% if flash[:message_error] %>
				<p class="alert alert-danger alert-dismissible"><%= flash[:message_error] %></p>
			<% end %>
		</div>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<h3 class="text-center">Datos Financieros</h3>
				</div>
			</div>
		</nav>
		<div class="container">
			<%= yield %>
		</div>
	</body>
</html>
